.contact-grid{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  grid-gap: 15px;
}

#mapInfo {
  padding-bottom: 20px;
}

#map {
  width: 100%;
  height: 24em;
}

.mapform {
  margin: 15px auto;
  border-style: groove;
  border-color: silver;
  border-width: 15px;
  background-color: #d7d7d7;
}

.contact-form {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#contact {
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #434343, #000000);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #434343, #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 1px 2px 2px #ccc;
  border: 1px solid black;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.contact h3 {
  text-align: center;
  text-shadow: 1px 1px 1px #000;
  margin-top: 1px;
}

#name, #email {
  color: black;
}

input {
  width: 300px;
  border: 1px solid black;
}

textarea.form-control {
  border: 1px solid black;
}

.sub-btn {
  margin: 15px;
  text-align: center;
}

.btn-hover {
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  height: 45px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover {
  background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

.alert {
  text-align: center;
  padding: 10px;
  background: #79c879;
  color #fff;
  margin-bottom: 10px;
  display: none;
}
