
h2, h3, p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}

section {
  padding-top: 55px;
}

.hr-style {
  border: 1px solid black;
  opacity: 0.3;
  width: 140px;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
  color: #333;
  text-decoration: none;
  background-color: rgba(0, 0, 0, .075);
  outline: 0;
}

/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
  top: 0;
  background: black !important;
  z-index: 1;
}

/* Intro */
#intro {
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #434343, #000000);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #434343, #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin-top: 50px;
}

.txt-head {
  text-align: center;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

#self-img {
  border-radius: 50%;
  display: block;
  margin: auto;
  width: 250px;
  padding-top: 17px;
}

/* About Me */
#about {
  width: 50%;
  background: -webkit-linear-gradient(to top, #434343, #000000);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #f1f1f3, #58585885);
  padding-bottom: 50px;
  margin-top: 35px;
  border: 1px solid black;
  transition: border-width 0.6s linear;
  box-sizing: content-box;
}

#about:hover {
  border-width: 10px;
  border-radius: 6px;
}

#about-text {
  margin: 0 auto;
  width: 100%;
}

/* Experience */
#exp {
  width: 50%;
  background: -webkit-linear-gradient(to top, #434343, #000000);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #58585885, #f1f1f3);
  margin-bottom: 40px;
  margin-top: 15px;
  border: 1px solid black;
  transition: border-width 0.6s linear;
  box-sizing: content-box;
}

#exp:hover {
  border-width: 10px;
  border-radius: 6px;
}

#exp-text {
  margin: 0 auto;
  padding-bottom: 25px;
  width: 100%;
}

#jobs {
  list-style: none;
  text-align: center;
  margin-left: -50px;
  margin-top: -16px;
  color: black;
}

/* Projects */
#pro {
  background-color: #d7d7d7;
  padding-bottom: 50px;
}

#btns {
  margin: 0 auto;
}

button {
  background-color: black;
  padding: 10px 20px;
  border: 1px solid #333;
  color: #6AF7A3;
  border-top: 3px solid #6AF7A3;
}

button:nth-of-type(2) {
  background-color: black;
  padding: 10px 20px;
  border: 1px solid #333;
  color: #32E3FE;
  border-top: 3px solid #E52828;
}

button:nth-of-type(3) {
  background-color: black;
  padding: 10px 20px;
  border: 1px solid #333;
  color: white;
  border-top: 3px solid white;
}

/* Grid Projects*/

#new-store {
  width: 71%;
  margin: auto;
  margin-bottom: 30px;
}
#new-store a{
  margin-bottom: 15px;
}

#new-sticker{
  position: absolute;
  width: 75px;
}

#newstore-text {
  width: 25em;
}

.newimg{
  width: 305px;
  height: 170px;
}

#grid {
  margin-left: 50px;
}

#cards {
  margin-bottom: 15px;
}

.card-text {
  text-align: inherit;
}
#grid-text {
  height: 215px;
}

/* Footer */
.footer {
  height: 100%;
  background: black;
}

.footer, ul {
  color: white;
  list-style: none;
  text-align: center;
}

.footer li {
  display: inline;
  margin: 15px 15px;
}

.mediaIcons {
  margin-top: 15px;
}

#email-img {
  font-size: 17px;
  color: white;
}

#gitImg {
  border-radius: 50%;
  width: 30px;
}

#link-img {
  width: 25px;
}

/*Media*/
@media screen and (min-width: 2000px) {
  #email-img {
    font-size: 30px;
  }

  p, li {
    font-size: 25px;
  }

  #text-4k {
    font-size: 3rem;
  }

  button {
    font-size: 18px;
  }

  .navbar a {
    font-size: 25px;
  }
  #grid-text {
    height: fit-content;
  }
}

@media screen and (min-width:992px) and (max-width:1199.5px) {
  #newstore-text {
    width: 18em;
  }
  #grid {
    margin-left: 120px;
  }
}
@media screen and (min-width:192px) and (max-width:991.5px) {
  .newimg, #new-store-img{
    width: 100%;
  }
  #newstore-text {
    width: 100%;
  }
}
@media screen and (min-width:192px) and (max-width:767.5px) {
  #about, #exp{
    width: 75%
  }
  #map {
    width: 100%;
    margin-left: 0px;
  }
  #new-store{
    width: 100%;
  }
}

@media screen and (min-width:120px) and (max-width:420.5px) {
  .footer li {
    display: contents
  }

  #exp h2 {
    font-size: 24px;
  }

  .hr-style {
    width: 121px;
  }
}

@media screen and (min-width:767px) and (max-width:991.5px) {
  #grid {
    margin: auto;
  }
}

@media screen and (min-width:120px) and (max-width:766.5px) {
  #grid {
    margin-left: -15px;
  }
}
