/* Screen media for 4K */
@media screen and (min-width: 2000px) {
  #email-img {
    font-size: 30px;
  }
  p, li {
    font-size: 22px;
  }
  h2, h3 {
    font-size: 45px;
  }
  button {
    font-size: 18px;
  }
  #brand{
    font-size: 22px;
  }
}

@media screen and (min-width:535px) and (max-width:767px){
  .thumbnail {
    width: 100%;
  }
  #thumbImgs {
    width: 100%;
    height: 400px;
  }

}

@media screen and (min-width:120px) and (max-width:534px){
  .thumbnail {
    width: 100%;
  }
  #thumbImgs {
    width: 100%;
  }
  iframe {
      width: 95%;
  }
}

@media screen and (max-width: 288px) {
  #self-img{
    width: 95%;
  }
}
