h2, h3, p{
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}

h3 {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
}

section {
    padding-top: 35px;

}
/* Navbar */
#brand {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;
}

/* Header */
#intro {
  width: auto;
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.txt-head {
  text-align: center;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

#self-img {
  border-radius: 50%;
  display: block;
  margin: auto;
  margin-top: 85px;
  width: 250px;
}

/* About Me */
#about {
  background-color: #d7d7d7;
  padding-bottom: 50px;
}

hr {
  border-top: 2px solid black;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  width: 111px;
}

#about-text {
  margin: 0 auto;
  width: 85%;
}

/* Experience */
#exp-text {
  margin: 0 auto;
  padding-bottom: 25px;
  width: 60%;
}

#jobs {
  list-style: none;
  text-align: center;
  margin-left: -50px;
  margin-top: -16px;
}

/* Projects */
#pro {
  background-color: #d7d7d7;
  padding-bottom: 50px;
}

#btns{
  margin: 0 auto;
}

button {
  background-color: black;
  padding: 10px 20px;
  border: 1px solid #333;
  color: #6AF7A3;
  border-top: 3px solid #6AF7A3;
}

button:nth-of-type(2) {
  background-color: black;
  padding: 10px 20px;
  border: 1px solid #333;
  color: #32E3FE;
  border-top: 3px solid #E52828;
}

button:nth-of-type(3) {
  background-color: black;
  padding: 10px 20px;
  border: 1px solid #333;
  color: white;
  border-top: 3px solid white;
}

.thumbnail {
  width: 105%;
}

#thumbImgs {
  width: 105%;
  height: 189px;
}

#img-grid {
  margin-top: 15px;
}

/* Footer */
.footer {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #000000, #434343); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #000000, #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#map p {
  color: white;
}

#map {
  padding-bottom: 20px;
}

#contact {
  color: white;
}

#email-img{
  font-size: 23px;
  color: white;
}

#gitImg{
  border-radius: 50%;
  width: 30px;
}

#link-img {
  width: 25px;
}
